@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    font-size: 62.5%;
}

::selection{
    background-color: #00a8ff;
    color: black;
}


body
{
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
    background-color: #f5f5f5ee;
}

.container{
    margin-left: 10%;
    margin-right: 35%;
    line-height: 1.8;
}

.footer{
    padding: 30px;
    background-color: black;
    color: white;
    font-style: italic; 
    font-size: 0.8em;
    text-align: center;
}

.description ul{
    margin-top: 1rem;
    margin-bottom: 3rem;
    margin-left: 1.5rem;
}

.description p{
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.legend{
    color: gray;
    font-size: 0.6em;
}

.list_resum_offre{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0px;
    margin: 5px;
    font-size: 0.8em;
    gap: 3px;
}

.list_resum_offre li{
    padding: 5px;
    border-width: 1.5px;
    border-style: outset;
    border-image: initial;
    display: inline;
    background-color: white;
    border-color: black;
    border-radius: 5px;
}

.list_mission li{
    margin-left: 20px;
}




/*--------------------------------------FORMULAIRE----------------------------------------*/

.formulairebg{
    width: 100%;
    padding-top: 50px;
    padding-left: 10%;
    padding-bottom: 50px;
    margin-bottom: 3rem;
    background-color: #7494ec;
    left: 0;
}


.formulaire{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    font-size: 1.8rem;
    width: 60%;
    background-color: white;
    border-radius: 30px;
    padding-left: 3%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.formulairebg h2{
    font-size: 3.5rem;
    margin: 1rem;
}

.formulaire p{
    size: 30px;
    font-weight: bold;
    margin: 0px;
    font-size: 2rem;
    margin-right: 0.8rem;
    margin-top: 1rem;
}

.formulaire label{
    margin-right: 0.8rem;
}

.formulaire .legend{
    color: gray;
    font-size: 0.6em;
    margin: 0px;
    margin-bottom: 3rem;
    padding: 0px;
}

.formulaire_radio{
    display: flex; 
    margin-right: 5px;
    align-items: flex-end;
}

.line_form{
    display: flex;
    width: 100%;
}

.block_form{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 50%;
}

.choix{
    display: flex;
    align-items: center;
}

.bouton{
    display: inline-block;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 14px;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    width: 60%;
    height: 40px;
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.bouton:hover {
    background-color: #7494ec;
    transform: scale(1.05);
}

.bouton:active {
    transform: scale(0.95);
}

.bouton.orange{
    background-color: #7494ec; 
    color: white;
    border: none;
}

.bouton.block{
    background-color: #7494ec; 
    color: white;
    border: none;
    width: 90%;
    text-align: center;
}

.bouton.blanc{
    background-color: white;
    color: black;
    border: 2px solid black;
}

.btn_block{
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    margin-top: 50px;
}

.cv{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.cv i{
    padding-right: 5px;
}

.afficher_cv, .afficher_lm{
    border: 2px solid #00a8ff;
    border-radius: 5px;
    display: none;
    align-items: center;
    padding: 5px;
    background-color: white;
    width: min-content;
    margin: 0.8rem 0px;
}

.cv_name, .lm_name {
    width: min-content;  /* Ou une largeur spécifique */
    max-width: 35vw; /* Ajuste selon ton design */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: block;
    font-size: 1.4rem;
}

.resum_block{
    width: 300px;
    height: 380px;
    padding: 30px;
    margin-right: 8%;
    margin-top: 25vh;
    position: fixed;
    top: 0px;
    right: 0px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.664);
    border: 1px solid rgb(181, 181, 181);
}
.resum_block a{
    text-decoration: none;
    color: black;
    display: block;
}

.resum_block a:hover{
    text-decoration: underline;
}

.formulaire.error{
    font-size: 0.9rem;
    color: red;
    margin: 0;
    font-weight: 100;
    padding: 0;
}

.invisible{
    display: none;
}


.notifForm{
    position: fixed;
    margin: 2rem;
    font-size: 1.2rem;
    right: 0px;
    top: 100px;
}

.toast{
    border: 1px black;
    border-left: 3px solid #00a8ff;
    font-size: 1.6rem;
    padding: 1rem;
    background-color: white;
    transition: opacity 0.5s ease-in-out;
}

.toast.fade-out {
    opacity: 0;
}

.banniere{
    width: 100%;
    background-color: #7494ec;
    color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 5rem;
    padding-top: 8rem;
    margin-bottom: 3rem;
}

.banniere h1{
    font-size: 5rem;
}

.li_banniere{
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-top: 1.5rem;
}

@media screen and (max-width : 1375px) {
    .resum_block{
        display: none;
    }   
    
    .container{
        margin-right: 10%;
    }

    .formulaire{
        width: 90%;
    }
}

@media screen and (max-width : 600px) {
    .bouton{
        width: 90%;
        font-size: 1.2rem;
    } 

    .block_form{
        width: 100%;
    }
}




 /*---------------------------------------------BOUTON POUR REMONTER----------------------------------------------------*/





 .btn_remonter{
    height: 40px;
    width: 40px;
    font-size: 20px;
    border-radius: 20px;
    background-color: #ececec;
    position: fixed;
    border: none;
    right: 5px;
    bottom: 5px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.btn_remonter:hover {
    box-shadow: 0 0 8px #7494ec;
    transform: scale(1.1);
}

.btn_remonter:active {
    transform: scale(0.9);
}