{% extends 'base.twig' %}
{% block title %}{{ offer_name }}{% endblock %}
{% block styles %}
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
{% endblock %}   
{% block content %}
<div class="banniere">
    <i class="fa-solid fa-building logo"></i>
    <h1>{{ company_name }}</h1>
    <span class="note">4.5
        <i class="fa-solid fa-star"></i>
        <button class="btn_noter" id="btn_noter">Noter l'entreprise</button>
    </span>
    <span class="li_banniere">
        <span>
            <i class="fa-solid fa-phone"></i>
            Télephone de l'entreprise
        </span>
        <span>
            <i class="fa-solid fa-envelope"></i>
            Email de l'entreprise
        </span>
    </span>
</div>
<div class="block_notation">
    <div class="notation">
        <i class="fa-solid fa-xmark croix" id="croix"></i>
        <span class="star">
            <i data-value="1" class="fa-regular fa-star" id="star1"></i>
            <i data-value="2" class="fa-regular fa-star" id="star2"></i>
            <i data-value="3" class="fa-regular fa-star" id="star3"></i>
            <i data-value="4" class="fa-regular fa-star" id="star4"></i>
            <i data-value="5" class="fa-regular fa-star" id="star5"></i>
        </span>
        <div class="btn_star">
            <button id="btn_send">ENVOYER</button>
        </div>
    </div>
</div>
<div class="container_entreprise">
    <div class="block_entreprise">
        <h2>A propos de nous</h2>
        <div class="limite_bleu"></div>
        <p>description</p>
    </div>
    <div class="block_entreprise">
        <h2>Nos offres</h2>
        <div class="limite_bleu"></div>
    </div>
</div>


{% endblock %}
{% block scripts %}
<script src="entreprise.js"></script>
{% endblock %}