{% extends 'base.twig' %}

{% block title %}
    Postuler
{% endblock %}


{% block styles %}
    <link rel="stylesheet" href="{{asset('/css/offer.css')}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
{% endblock %}

{% block content %}
<div class="formulairebg">
    <h2>Envoyez votre candidature dès maintenant!</h2>
    <form id="formulaire" class="formulaire">
        <div class="line_form">
            <div class="block_form">
                <p>NOM</p>
                <input type="text" id="nom" name="nom">
                <p class="formulaire error"></p>
            </div>
            <div class="block_form">
                <p>PRÉNOM</p>
                <input type="text" id="prenom" name="prenom">
                <p class="formulaire error"></p>
            </div>   
        </div>
        <p>ADRESSE MAIL</p>
        <input type="email" id="email" name="email" style="width: 55%;">
        <p class="formulaire error"></p>
        <p>CV</p>
        <div class="cv">
            <input type="file" id="filecv" accept=".pdf, .doc, .docx, .odt, .rft, .jpeg, .pnj" hidden>
            <label for="filecv" id="cv" class="bouton orange">AJOUTER MON CV</label>
            <p class="formulaire error"></p>
            <div class="afficher_cv">
                <i class="fa-solid fa-file"></i>
                <span class="cv_name"></span>
            </div>
        </div>
        <p>Lettre de motivation</p>
        <div class="cv">
            <input type="file" id="filelm" accept=".pdf, .doc, .docx, .odt, .rft, .jpeg, .pnj" hidden>
            <label for="filelm" id="lm" class="bouton orange">AJOUTER MA LETTRE DE MOTIVATION</label>
            <p class="formulaire error"></p>
            <div class="afficher_lm">
                <i class="fa-solid fa-file"></i>
                <span class="lm_name"></span>
            </div>
        </div>
        <p class="formulaire legend">
            Poid max. 2Mo <br>
            Format .pdf, .doc, .docx, .odt, .rtf, .jpeg ou .pnj
        </p>
        <div style="padding-bottom: 10px; width: 45%;">
            <button class="bouton orange" type="submit">POSTULER</button>
        </div>
        <div class="notifForm">
        </div>
    </form>
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('/js/offer.js') }}"></script>
{% endblock %}